{% if aek.action == "get-rail" %}

  {% set service = aek.get_anon_service("NATIONAL_RAIL") %}
  {{ service.set_method("GET") }}
  {# {{ service.set_namespace("") }} #}
  {{ aek.respond(service.response|simplexml) }}

{% endif %}

{% if aek.action == "get-tube" %}

  {% set tfl_service = aek.create_service("http://cloud.tfl.gov.uk/TrackerNet/LineStatus") %}
  {{ tfl_service.set_namespace("http://webservices.lul.co.uk/") }}
  {{ tfl_service.set_method("GET") }}
  {{ aek.respond(tfl_service.raw_response|simplexml) }}

{% endif %}