<!DOCTYPE html>

  {{ aek.set_aek_version("2.0") }}
  {{ aek.set_header_text('') }}


      {% set language = {
  "index": {
    "pageHeader": "Index"
  }
} %}
      {% set currency_prefix = "£" %}
  
  {% set _config={
  "PUBLIC":{
    "storageEnabled": true,
    "storageKey": "react16-simplestore-internal",
    "usesCMAuth": true,
    "forceLDAP": false,
    "language": language,
    "theme": {
      "primary": "prime",
      "secondary": "alt"
    },
    "currency_prefix": currency_prefix,
    "openLinksExternally": true,
    "indexPage":{
      "title": "Travel Around RVC",
      "list":[
        {
          "heading":"What's the Tube Status?",
          "text":"Check the status of the Tube, and see when the next Train is coming and its destination!",
          "href":"#/tube"
        },
        {
          "heading":"National Rail Status",
          "text":"Check the National Rail status for Great Northern and Thameslink services",
          "href":"#/rail"
        },
        {
          "heading":"Find a Boris Bike",
          "text":"Find your nearest Boris Bike and Docking station, and plan ahead to see how many free bikes/docks are available to avoid dissapointment",
          "href":"http://www.tfl.gov.uk/maps/?Input=Current+location+"
        },
        {
          "heading":"TFL Bus TimeTable",
          "text":"Never wait for a bus any longer than you have to...Never get to the stop and just miss the bus ever again...Plan your Bus journey with this Bus Timetabe and save Stops as favourites!",
          "href":"https://tfl.gov.uk/modes/buses/"
        },
        {
          "heading":"When is the last Tube?",
          "text":"Don't miss the last tube! Check when the first and last train for each of tube lines are scheduled",
          "href":"https://www.tfl.gov.uk/modes/tube/first-and-last-tube"
        },
        {
          "heading":"Tube Map",
          "text":"What tube do I need to get?... Lost? ... Here's the Tube Map!",
          "href":"https://tfl.gov.uk/tfl/syndication/widgets/tubemap/images/tube-medium-zoned.gif"
        }
      ]
    }
  },
  "PRIVATE":{
    "username": "jbullock@rvc.ac.uk",
    "password" : "9wHLcVVNKV9Fn(oGk8z%5B"
  }
} %}
  {% if aek.action == "get-rail" %}

  {% set service = aek.get_anon_service("NATIONAL_RAIL") %}
  {{ service.set_method("GET") }}
  {# {{ service.set_namespace("") }} #}
  {{ aek.respond(service.response|simplexml) }}

{% endif %}

{% if aek.action == "get-tube" %}

  {% set tfl_service = aek.create_service("http://cloud.tfl.gov.uk/TrackerNet/LineStatus") %}
  {{ tfl_service.set_namespace("http://webservices.lul.co.uk/") }}
  {{ tfl_service.set_method("GET") }}
  {{ aek.respond(tfl_service.raw_response|simplexml) }}

{% endif %}

<html lang="en" data-aek-package="[[__package_data__]]" data-public-assets="[[__public_assets__]]" data-env="prod" data-platform="{{ aek.get_platform() }}" >
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <script type="aek/config" id="aek__config">{{ _config["PUBLIC"]|json_encode|raw }}</script>
  </head>

<body  >

  
  <script>

    !function(e){function o(n){if(t[n])return t[n].exports;var s=t[n]={exports:{},id:n,loaded:!1};return e[n].call(s.exports,s,s.exports,o),s.loaded=!0,s.exports}var t={};return o.m=e,o.c=t,o.p="/public/js/",o(0)}([function(e,o,t){"use strict";!function(){window.loadCampusmAssetStore=function(e,o){o||(o="0.0.8");var t,n=function(){e&&e(window.CampusM.assetStore)};try{t=JSON.parse(window.localStorage.__campusmAssetStore)}catch(s){}if(t&&t.version>=o)new Function(t.code)(),n();else{var r=document.createElement("script");r.onload=n,r.onError=function(){t?(console.warn("AssetStore: Unable to fetch minimum version "+t.version+" instead"),new Function(t.code)(),n()):console.error("AssetStore: unable to initialise AssetStore")},r.src="https://portal.ombiel.co.uk/assets/aek/aek-asset-store/"+o+"/loader.js",document.head.appendChild(r)}}}()}]);
    loadCampusmAssetStore(function(assetStore) {

      var scripts = ["main"];
      scripts = scripts.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/"+s+".js"});

      assetStore.fetchAssets(scripts);
      assetStore.loadJS(scripts);

    });

  </script>

</body>
</html>
